@tailwind base;
@tailwind components;
@tailwind utilities;

.legalCo-input {
	@apply rounded-lg px-6 py-3 border-0 text-teal-700 w-full
         focus:outline-none focus:ring-2 focus:ring-teal-700  
         transition duration-300 ease-in-out;
}

.legalCo-input::placeholder {
	@apply text-teal-700 italic;
}

.child{
    display: none;
  }
  .ex_1:hover .child{
    display: flex;
  }